@model Udemy_ASP.NET_MVC5_Vidly.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers:</h2>

<ul>
    @foreach (var customer in Model.Customer)
    {
        <li class="">@customer.Name</li>
    }
</ul>